alembic
apispec
beautifulsoup4
bleach
boto3
botocore
cachelib
chromadb
click
colorama
cron_descriptor
croniter
cryptography
deprecation
dogstatsd_python
fastapi
Flask
flask_appbuilder
flask_babel
flask_caching
flask_compress
flask_cors
flask_jwt_extended
flask_login
flask_migrate
flask_sqlalchemy
flask_talisman
flask_testing
flask_wtf
freezegun
func_timeout
geopy
google-generativeai
holidays
humanize
ipywidgets
isodate
Jinja2
jupyter_packaging
Markdown
MarkupSafe
marshmallow
marshmallow_enum
msgpack_python
PyMySQL
numpy
openapi_spec_validator
pandas
pandas_gbq
parameterized
parsedatetime
pgsanity
Pillow
polyline
prison
prophet
# psycopg2  # Uncomment if you need PostgreSQL support, mainly needed for testing
pyarrow>=14.0.0
# pybigquery # Uncomment if you need BigQuery support
pydantic
pydruid
PyGithub
pyhive
pyinstrument
pyparsing
pytest
pytest_mock
python-dotenv
python_dateutil
python_geohash
pytz
requests
selenium
sentence_transformers
setuptools
simplejson
SQLAlchemy
sqlalchemy_kusto
sqlalchemy_utils
sqlparse
thrift
tiktoken
tqdm
traitlets
typing_extensions
urllib3
Werkzeug
WTForms
wtforms_json
xlrd
protobuf<=3.20.3
